# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Chroma DB storage
vectorstore/

# Streamlit cache
.streamlit/

# Environment variables
.env

# VSCode files
.vscode/
